body {
  background-image: url(assets/img/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.cover-container {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin: 0;
  margin-top: 150px;
}
@media (max-width: 768px) {
  .cover-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ffffff;
    margin: 0;
    margin-top: 70px;
  }
}
.cover-heading {
  font-size: 3rem;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.btn-light {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.head-subtext {
  font-family: arial;
  font-weight: normal;
  color: #fff;
  height: 2px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding-left: 10px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 6s ease-out forwards;
  color: aqua;
}
.social-links {
  width: 10em;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
}

.social-links a:hover {
  color: #fff;
}
.box {
  background-color: #0000008a;
  border: 1px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 30px;
}
.box1 {
  background-color: #0000008a;
  height: 300px;
  width: 250px;
}
@media (max-width: 575.98px) {
  .box1 {
    height: 200px;
  }
}
.box2 {
  background-color: #0000008a;
  height: 300px;
  width: 350px;
}
@media (max-width: 575.98px) {
  .box2 {
    height: 200px;
  }
}
.box3 {
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575.98px) {
  .box3 {
    height: 300px;
  }
}
.box4 {
  height: 265px;
}
.box5 {
  height: 265px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-row {
  display: flex;
  gap: 10px;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.img-size {
  height: 260px;
  border-radius: 30px;
  margin: auto;
}
@media (max-width: 575.98px) {
  .img-size {
    height: 160px;
  }
}
.text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-top: 35%;
}
@keyframes colorChange {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff7f00;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #7fff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff7f;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #007fff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #7f00ff;
  }
  100% {
    color: #ff00ff;
  }
}
.color-animation {
  font-size: 24px;
  font-weight: bold;
  animation: colorChange 10s infinite linear;
}
.about-section p {
  font-size: 16px;
  line-height: 1.25;
  color: cyan;
  margin: 0;
  text-align: justify;
}
.list-group-item {
  background-color: #0000008a !important;
}

.list-group-item:hover {
  background-color: #000000b4 !important;
}
.about {
  color: #d4e294;
}
.about1 {
  color: cyan;
}
.custom-div {
  padding: 2rem;
  background-color: #0000008a;
  height: 80lvh;
}
.custom-div {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.copy {
  margin-left: 10px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 3px;
}
.copy:hover {
  cursor: pointer;
}

.social-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.social-contact a {
  text-decoration: none;
  font-size: 24px;
  transition: transform 0.3s, color 0.3s;
  flex: 0 1 calc(50% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: #f8f7f12f;
  border-radius: 10px;
}

.social-contact a:nth-child(1) {
  color: #1da1f2;
}

.social-contact a:nth-child(2) {
  color: #c51651;
}

.social-contact a:nth-child(3) {
  color: #3b5998;
}

.social-contact a:nth-child(4) {
  color: #000;
}

.social-contact a i {
  font-size: 70px;
}

.social-contact a:hover {
  transform: scale(1.1);
}

.social-contact a:nth-child(1):hover {
  color: #fff;
  background-color: #0d8bbf;
}

.social-contact a:nth-child(2):hover {
  color: #fff;
  background-color: #d31f5b;
}

.social-contact a:nth-child(3):hover {
  color: #fff;
  background-color: #2d4373;
}

.social-contact a:nth-child(4):hover {
  color: #fff;
  background-color: #000;
}

@media (max-width: 575.98px) {
  .social-contact a {
    flex: 0 1 calc(50% - 10px);
  }

  .social-contact a i {
    font-size: 50px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .social-contact a {
    flex: 0 1 calc(50% - 10px);
  }

  .social-contact a i {
    font-size: 60px;
  }
}

.custom-div input {
  background: transparent;
  height: 50px;
  border-radius: 50px;
}

.whatsapp-contact input {
  border: 2px solid rgb(102, 247, 102) !important;
}

.contact-form input {
  border: 2px solid cyan !important;
}

.input-icon-wrapper {
  position: relative;
}

.input-icon-wrapper .form-control {
  padding-right: 40px;
}

.icon-wrapper {
  position: absolute;
  right: 13px;
  top: 52%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.6rem;
  pointer-events: all;
}

.icon-wrapper:hover {
  color: whitesmoke;
}

.send-icon {
  display: block;
}

.whatsapp-contact {
  color: rgb(102, 247, 102);
}

.contact-form {
  color: cyan;
}
